body{ 
    -webkit-font-smoothing: antialiased;
    font-family: 'Arial', 'sans-serif';
    padding: 30px 0;
}
h1{ 
    font-family: 'Roboto', 'Arial', 'sans-serif'; 
    font-size: 48px; 
    line-height: 48px; 
    font-weight: 100; 
    margin: 0 auto;
    padding: 0 30px 30px;
    position: relative;
    text-align: center;
}
section {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 650px; 
    min-width: 530px;
}
input{
    border:0; outline:0;
    box-shadow: inset 0 0 0 0.5px #2299FF;
    transition: all 0.3s ease;
}
input:hover{ 
    box-shadow: inset 0 0 0 0.5px #f00; 
}
table{
    width: 100%;
    margin: 20px 0 0;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody tr:first-of-type td{ padding-top: 10px; }
tbody tr:last-of-type td{ padding-bottom: 8px; }
tbody tr:hover td { background: #FFDD56;  }
th {
    box-shadow: inset 0px -1px 0 -0.5px #000;
    font-size: 12px;
    text-align: center;
    padding: 8px 5px;
    font-weight: normal;
}
th:active{
    color: #ff0000;
}
td{
    padding: 8px 5px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    background: #fff;
    width: 15%;
    transition: background 0.3s ease;
}
#counter{
    font-size: 12px;
    padding: 0 0 4px 5px;
}
#filter{
    padding: 2px 3px;
    font-size: 30px;
    width: 98%;
}
.sorter{ 
    font-weight: bold;
    cursor: pointer;
    text-align: left;
}
.center{ 
    text-align: center; 
    width: 5%;
}

button{
    cursor: pointer;
    background: none; 
    border: 0;
    padding: 0;
    outline: none;
}

.edit,
.remove{ width: 20px; }


#form{ 
    box-shadow: inset 0px 1px 0 -0.5px #000;
    padding-top: 15px;
}
#form input{ 
    font-size: 12px; 
    padding: 5px 5px;
    width: 100%;
}
#form button{
    float: right;
    width: 25px;
    margin-right: 23px;
}
.add-control{
    display: table;
    width: 100%;
}
#form label{
    display: table-cell;
    font-size: 12px;
    margin-right: 4px; 
    width: 17%;
    vertical-align: middle;
}
